<!-- Footer -->

    <div id="footer">
      <ul class="list-inline footer-item">
        <li>
          <!-- <a href=""> -->
          <%= link_to "" "" %>
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li>
          <%= link_to "" "" %>
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <%= link_to "" "" %>
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <%= link_to "" "" %>
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>

      <p class="footer-item">This is a fictive product by LeWagon</p>
    </div>
