

<h1>Team info</h1>
<ul class="list-inline">
  <li>
    <%= image_tag "http://placehold.it/50x50" %>
  </li>
  <li>
    <%= image_tag "http://placehold.it/50x50" %>
  </li>
  <li>
    <%= image_tag "http://placehold.it/50x50" %>
  </li>
</ul>
